body {
    background-color: rgb(238, 242, 242);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 0;
}

span {
    display: inline;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 10px 4fr 10px 1.5fr;
    grid-template-rows: 15% 2fr;
    justify-items: space-between;
}

section {
    padding-top:5%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    grid-column-start: 2;

}

ol {
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
    list-style-type: decimal;
}

ol li::marker {
    color: black; /* had trouble including the li numbers in the li style, but this works ok */
    font-size: 1em;    
}

ol li {
    padding:5px;
}


li:hover {
    background-color:grey;
    border-radius: 5px;
    color: white;
}

.intro-text {
    grid-column-start: 3; 
    align-self: center;
}

button {
    grid-column-start: 2;
    justify-self: center;
    text-align: center;
    background-color: #472e71;
    color: white;
    padding: 5px 10px;
    border:none;
    margin-top: 15px;
    font-size: large;
    border-radius: 5px;
}

button:hover {
    background-color: red;
}

.question {
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
    margin-top: -50px;
}

.question p {
    text-align: center;
    grid-column-start: 2;
}

#goback {
    margin-bottom: 15px;
}

/* Start of View High Scores and Timer top sections */
.view-highscores {
    background-color: red;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    height: 30px;
}

.view-highscores p {
    justify-self: center;
    font-size: 1.3rem;
}

.view-highscores:hover {
    background-color: #666;
}

.timer {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-self: center;
    background-color: blue;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    height:30px;
}

.time {
    padding-left: 10px;
    grid-column-start: 2; 
}

/* High Scores Area */

.form {
    grid-column-start: 2;
    grid-row-start: 4;
    justify-self:center;
}

/* couldn't figure out why I needed two #highscores elements, the first one being display:none, maybe because I did appendChild wrong, but it works = */
#highscores {
    grid-column-start: 2;
    justify-self: center;
    display: none;
}

.view-highscores span {
    padding-right: 0.5rem;
}

#highscores-aftergame {
    margin-left: -35px;
}

#highscores-aftergame li {
    background-color: lightblue;
}

#clearscores {
    background-color: black;
}

#clearscores:hover {
    background-color: red;
}